p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}


.important {
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
}

.column {
    float: left;
    width: 16.66%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }